body{
    font-family: sans-serif;
    margin-bottom: 40px;
    background-color: cadetblue;
    color: #fff;
}

.content{
    margin: 0 auto;
    max-width: 800px;
}

.avisoCookies{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: #666;
    color: #eee;
    width: 100vw;
    text-align: center;
}

.avisoCookies span{
    background-color: #922;
    color: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
    margin-left: 15px;
    cursor: pointer;
}